<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<p>Welcome to <%= title %></p>
<form action="/insert" method="post">
    <input type="text" name="deviceId" placeholder="ID">
    <input type="text" name="motionValue" placeholder="motinValue">
    <input type="text" name="temperature" placeholder="temperature">
    <input type="text" name="timestamp" placeholder="timestamp">
    <button type="submit">Submit</button>
</form>
</body>
</html>
